# after this lxml breaks matplotlib (??!?)
lxml<=4.2.1
requests
selenium
# pandas 0.23.1 doesn't properly write to stdout
pandas<=0.23.0
matplotlib
xlsx2csv
pylint
# no python2; besides that, the API is different
django>=2.0
